/**
 * main.scss
 */

$colors: (
	primary: #39ca40,
	secondary: #046a9e,
	background: #046a9e,
	contrast: #F9F9F9,
	// color-for-bg(var(--primary-color), var(--background-color), $text-color)
	text: #0c0e26 // #333
);

// change to path if needed
@forward "shapes/lib/reset" with ($list-reset: false);

@forward 'partials/root' with ($prefix: --tusk-, $colors : $colors);

@forward "partials";

@forward "components";