.pages {
	.page-list {
		list-style: none;
		
		.page-item {
			padding: 0.5rem 0 0 1rem;
			background-color: var(--tusk-contrast-color);

			&__body {
				display: flex;
				justify-content: space-between;
			}
			
			& .page-item {
				margin-left: 1rem;
			}
		}


		// TODO: Fix this.
		li:nth-of-type(2n - 1) {
			background-color: var(--tusk-primary-color-200);
			
			li:nth-of-type(2n - 1) {
				background-color: var(--tusk-contrast-color);

				li:nth-of-type(2n - 1) {
					background-color: var(--tusk-primary-color-200);

					li:nth-of-type(2n - 1) {
						background-color: var(--tusk-contrast-color);

						li:nth-of-type(2n - 1) {
							background-color: var(--tusk-primary-color-200);
						}
					}
				}
			}
		}


		ul {
			list-style: none;
		}
	}
}

.layout-element {
	border: solid 4px var(--tusk-primary-color) !important;
}