@use "settings" as *;
@use "shapes";


$info-color: skyblue;
$success-color: green;
$warning-color: yellow;
$error-color: red;

.flash-messages {
  position: sticky;
  top: 0;
  z-index: 10;

  font-weight: 800;
//   margin-bottom: -$gutter;
  // transform: translateY(-100%);
	
  & + * {
		margin-top: 0;
  }
	
  .message {
	color: var(--tusk-text-color);
	background-color: $info-color;
	transition: 350ms ease-out;
	transition-property: max-height, opacity;
	max-height: 4rem;
	overflow: hidden;

	max-width: var(--tusk-outer-bound-width);
	margin: auto;
		
    .icon {
			font-size: 2rem;
    }
		
    &__wrapper {
			display: flex;
      width: 100%;
      justify-content: space-between;
			padding: $gutter;
    }
		
    &__dismiss {
			@include shapes.type-setting(800);
    }
		
    &--error {
      color: var(--tusk-background-color);
      background-color: $error-color;
    }

    &--warning {
      color: var(--tusk-text-color);
      background-color: $warning-color;
    }

    &--success {
      color: var(--tusk-background-color);
      background-color: $success-color;
    }

		&--dismissed {
			pointer-events: none;
			max-height: 0;
		}
  }
}
