@use "shapes" as *;

.table-wrapper {
	position: relative;
	max-width: 100%;
	// overflow-x: auto;
}

table {
	// table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	
	overscroll-behavior: contain;

	thead {
		overflow-x: auto;
		position: sticky;
		top: 0;
	}

	th,
	td,
	caption {
		padding: 0.1rem 0.75rem;
		text-align: left !important;
	}

	th,
	caption {
		font-weight: 600;
		color: var(--text-color) !important;
	}
	
	caption {
		padding-bottom: var(--margin-400);
		@include type-setting(600);
	}

	th {
		color: var(--contrast-color);
		background-color: var(--primary-color);
	}

	td {
		min-width: max-content;
	}

	td:last-of-type {
		max-width: min-content;
	}

	tr:nth-of-type(2n + 2) {
		background-color: var(--contrast-color-400);
	}
}