@use 'settings' as *;
@use 'library' as *;

body {
    --secondary-inverse: var(--black);
}

.bottom > [role="listbox"] {
    bottom: 100%;
}

.footer,
.header {
	border-radius: 0px;
}

.footer {
	margin-top: var(--spacing-500);
}

.logo {
	text-decoration: none;
    flex-wrap: nowrap;
    gap: var(--spacing);
    justify-content: center;
    align-items: center;

    svg {
        height: 100%;
        width: 5rem;
    }

    span {
        font-weight: 800;
        @include type-setting(800);
    }
}

.logo span {
    @include for-size(sm-down) {
        display: none;
    }
}

.hero { 
	margin-top: 0;

	img {
		max-height: 60vh;
		object-fit: cover;
		object-position: center;
	}
}

.main-content { 
	@include stack(var(--spacing-400));
	width: 100%;

	& > .full-width {
		margin-top: 0;
	}
}

.inline {
    display: flex;
    gap: var(--spacing);
    padding-inline: 0;

    li {
        list-style: none;
    }
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

a,
button,
.button {
    display: inline-block;
}

.secondary {
	--font-weight: 600;
}
